<!DOCTYPE html>
<html xml:lang="en" lang="en" class="no-js">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="robots" content="all"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta content="text/html;charset=utf-8" http-equiv="Content-Type">
<meta content="utf-8" http-equiv="encoding">
<meta property="og:image" content=""/>
<meta property="og:title" content="Golden Village - Cinemas"/>
<meta property="og:description" content=""/>
<title>Golden Village - Cinemas</title>
<link rel="shortcut icon" type="image/ico" href="/dam/jcr:cbe5da8d-e0bf-44aa-ac3c-916610d88a61/gv32x32.ico"/>
<link media="screen, projection" href="https://www.gv.com.sg/media/cms/css/emojionearea.min.css?ver=1.0r394" type="text/css" rel="stylesheet">
<link media="screen, projection" href="https://www.gv.com.sg/media/cms/css/style.css?ver=1.0r394" type="text/css" rel="stylesheet">
<link media="print" href="https://www.gv.com.sg/media/cms/css/print.css?ver=1.0r394" type="text/css" rel="stylesheet">
<!--[if lt IE 9]><link href="https://www.gv.com.sg/media/cms/css/style-ie8.css?ver=1.0r394" rel="stylesheet" media="screen"><![endif]-->
<link media="screen, projection" href="https://www.gv.com.sg/media/cms/css/gvmc.css?ver=1.0r394" type="text/css" rel="stylesheet">
<script>
    window.magnoliaFrontendData = {themePath: "/resources/templating-kit/", contextPath: "", isEdit: false, texts: {lightbox: {close: "close lightbox", next: "next picture"},close: "close"}, cfg: {}};
    window.gv = {isEdit: false, isAuthor: false, isGVMC: false, staging: false};
    function dwrite(n) {document.write(n);}function isHttps() {return window.location.protocol == 'https:';}function inUrl(n) {return window.location.href.indexOf(n) != -1;}
    function https() {return (inUrl('/GVSeatSelection') || inUrl('/GVBuyTickets') || inUrl('/GVMCRegistration') || inUrl('/GVMovies') || inUrl('/GVMovieDetails')  || window.gv.isAuthor);}
    if (!isHttps() && window.location.hostname == 'gv.com.sg') window.location = 'http://www.gv.com.sg';
    if (!window.gv.staging && !window.gv.isAuthor && !isHttps() ) {window.location.href = 'https:' + window.location.href.substring(window.location.protocol.length);}
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.22/angular-route.min.js"></script>
<script src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/pbkdf2.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/rollups/aes.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/enc-base64-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/mode-ecb-min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.2/components/sha256-min.js"></script>
<script>
    (function (i,s,o,g,r,a,m) {i['GoogleAnalyticsObject'] = r;i[r] = i[r] || function () {(i[r].q = i[r].q || []).push(arguments)}, i[r].l = 1 * new Date();a = s.createElement(o), m = s.getElementsByTagName(o)[0];a.async = 1;a.src = g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create','UA-50663309-2','auto');
    ga('send','pageview');
</script>
<script>
    var gvMedia = 'https://www.gv.com.sg/media';
    function wscript(n) {dwrite('<script src="'+('https://www.gv.com.sg/media/cms/js/'+n+'"><\/script>'));}
    window.jQuery || wscript('jquery.min.js');
    window.angular || wscript('angular.min.js');
    (function() {try {window.angular.module('ngRoute');}catch(e) {return false;}return true;})()||wscript('angular-route.min.js');
    (window.CryptoJS && window.CryptoJS.PBKDF2)||wscript('pbkdf2.js');
    (window.CryptoJS && window.CryptoJS.AES)||wscript('aes.js');
</script>
<script src="https://www.gv.com.sg/media/cms/js/plugin.js?ver=1.0r394"></script>
<script src="https://www.gv.com.sg/media/cms/js/script.128.js?ver=1.0r394"></script>
<script>
    if(!Array.prototype.indexOf){Array.prototype.indexOf=function(a,b){var k;if(this==null)throw new TypeError('"this" is null or not defined');var O=Object(this);var c=O.length>>>0;if(c===0)return-1;var n=+b||0;if(Math.abs(n)===Infinity)n=0;if(n>=c)return-1;k=Math.max(n>=0?n:c-Math.abs(n),0);while(k<c){var d;if(k in O&&O[k]===a)return k;k++}return-1}}function ngIE(n) {for (var i = 0; i < n.length; i++) document.createElement(n[i]);}
    device.getDetails();
    if (!isHttps()) {if (!https() && device.data && (device.data.browser != '' && device.data.browserVersion <= 9)) {window.location = 'https:' + window.location.href.substring(window.location.protocol.length);}}
    if (device.data && (device.data.browser != '' && device.data.browserVersion <= 9)) {ngIE(['accordion','accordion-group','accordion-heading','alert','carousel','slide','tabset','tab','tabset-titles','accordion','accordion-group','accordion-heading','ng-include','ng-pluralize','ng-view','modal','ng:include','ng:pluralize','ng:view']);}
</script>
</head>
<body id="ng-app">
<div ng-controller="GVTopHeaderCntl">
<div id="fb-root"></div>
<div class="header">
<div class="row">
<div class="col-md-4 col-sm-3 col-xs-6 col-pg-zero">
<a class="gv-logo" href="GVHome"><img src="//media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/gv-logo.png"/></a>
</div>
<div class="col-md-3 col-sm-3 hidden-xs">
<div class="social-media">
<div>
<iframe src="//www.facebook.com/plugins/like.php?href=https%3A%2F%2Fwww.facebook.com%2Fgvmovieclub&amp;send=false&amp;layout=button_count&amp;width=200&amp;show_faces=false&amp;action=like&amp;colorscheme=dark&amp;font=lucida+grande&amp;height=21" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:100px; height:21px;" allowtransparency="true"></iframe>
</div>
<span class="pull-left"><small>Follow Us</small></span>
<ul class="list-unstyled list-inline">
<li><a href="SocialMedia#Facebook" class="sl-fk" target="_blank"></a></li>
<li><a href="SocialMedia#Twitter" class="sl-tt" target="_blank"></a></li>
<li><a href="SocialMedia#Instagram" class="sl-im" style="background-image:url(https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-sa-inm-small.png)" target="_blank"></a></li>
<li><a href="SocialMedia#LINE" style="background-image:url(https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-sa-line-small.png)" target="_blank"></a></li>
</ul>
<div class="clearfix"></div>
</div>
</div>
<div class="col-md-5 col-sm-6 col-xs-12 col-pg-zero header-gvmc-section">
<div class="gvmc-action-section dropdown">
<div class="gvmc-text">
<img src="//media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/gvmc-text.png">
</div>
<div class="gvmc-action-btn">
<a class="link-km" href="GVMCViewPrivileges.html" ng-show="isLogin==false">Know more?</a>
<button id="userLoginBtn" class="btn btn-secondary btn-sm btn-toggle" data-toggle="dropdown" ng-show="$root.isLogin == false" ng-click="toggleLogin()">Log In</button> <button class="btn btn-primary btn-sm" ng-show="$root.isLogin == false" ng-click="gvmcRegister()">Register</button>
<div class="login-status" ng-show="$root.isLogin">
<small>Welcome, <a class="username" href="GVMCHome">{{$root.userDetail.name}}</a></small><button class="btn btn-third btn-sm logout-btn" ng-click="gvmcUsrLogout()">Log Out</button>
</div>
<div class="clearfix"></div>
<div class="dropdown-menu dropdown-menu-right custom-login-box animated fadeInUp">
<form role="form">
<h4 style="border:none;margin:0;">Log In</h4>
<div class="btn-wrapper">
<div class="row">
<div class="col-md-12 col-sm-12 col-xs-12">
<div ng-show="isFBLogin && loginErrMessage.length > 0" class="help-inline alert alert-danger" ng-bind-html="loginErrMessage"></div>
<div ng-show="fbUser && fbAcctErrMessage.length > 0 && loginErrMessage.length == 0" class="help-inline alert alert-danger" ng-bind-html="fbAcctErrMessage"></div>
</div>
</div>
<button type="button" class="fb-login btn-facebook" ng-if="!fbUser" onclick="javascript:fb.login('HeaderLogin');"></button>
<div ng-if="fbUser && fbUser.fbId && fbUser.fbFirstName && fbUser.fbFirstName.length>0">
<h5>Hi <span ng-bind-html="fbUser.fbFirstName"></span></h5>
<button type="button" class="btn-facebook" onclick="javascript:fb.login('HeaderLogin');"></button>
<h6>If you are not <span ng-bind-html="fbUser.fbFirstName"></span>, please logout of the Facebook account.</h6>
</div>
</div>
<p class="text-center third-title" ng-if="!fbUser || (fbUser && fbUser.fbId)">- OR -</p>
<div class="form-group">
<div class="login-input">
<div ng-show="!isFBLogin && loginErrMessage.length > 0" class="help-inline alert alert-danger" ng-bind-html="loginErrMessage"></div>
</div>
<div class="login-input">
<label><strong>User ID</strong>(NRIC/FIN):</label>
<input type="text" class="form-control" placeholder="Username" ng-model="loginUsername">
</div>
<br>
<div class="login-input">
<label>Password:</label>
<input type="password" class="form-control" placeholder="Password" ng-model="loginPassword">
</div>
<div class="submit-section">
<a class="ft-pwd pull-right" href="GVMCForgotPass">
Forgot my password
</a>
<button type="submit" class="btn btn-ar btn-primary pull-left" ng-click="gvmcUsrLogin()">Login</button>
<div class="clearfix"></div>
</div>
</div>
</form>
</div> 
</div>
</div>
<div class="gvmc-section hidden-xs hidden-sm">
<a href="GVMCHome" class="gvmc hidden-xs hidden-sm" ng-show="isLogin==true"></a>
<a href="javascript:void(0);" class="gvmc hidden-xs hidden-sm" ng-show="isLogin==false" ng-click="checkProfileComplete()"></a>
</div>
</div>
<div class="gvmc-section-small">
<a href="GVMCHome" class="gvmc-small hidden-md hidden-lg text-right" ng-show="isLogin==true"><img src="//media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-gvmc-small.png"/></a>
<a href="javascript:void(0);" class="gvmc-small hidden-md hidden-lg text-right" ng-show="isLogin==false" ng-click="checkProfileComplete()"><img src="//media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-gvmc-small.png"/></a>
</div>
</div>
</div>
<div class="ct-img text-center">
 
<script type="text/javascript" src="https://aka-cdn-ns.adtech.de/dt/common/DAC.js"></script>
<div id="5297645"><noscript><a href="https://adserver.adtech.de/adlink|3.0|1429.1|5297645|0|225|ADTECH;loc=300;alias=gv-ros-top-5" target="_blank"><img src="https://adserver.adtech.de/adserv|3.0|1429.1|5297645|0|225|ADTECH;loc=300;alias=gv-ros-top-5" border="0" width="728" height="90"></a></noscript></div>
<script>
            ADTECH.config.page = { protocol: 'https', server: 'adserver.adtech.de', network: '1429.1', pageid: 729419, params: { loc: '100' }};
            ADTECH.config.placements[5297645] = { sizeid: 225, params: { alias: 'gv-ros-top-5', target: '_blank' }};
            ADTECH.loadAd(5297645);
        </script>
</div>
<div class="bg-note text-center" ng-show="platformSystemData.isShow && !isHome"><p ng-bind-html="platformSystemData.message"></p></div>
<div role="navigation" class="navbar navbar-default navigation" ng-if="!isHome" ng-controller="GVHeaderCntl">
<div class="container-fluid">
 
<div class="navbar-header">
<button id="buytixbtn" data-target="#navbar-collapse-2" data-toggle="collapse" class="btn btn-primary btn-sm hidden-sm hidden-md hidden-lg btn-toggle" type="button" ng-click="BuyTixMenuToggle()">Quick Buy
</button>
<button id="checkbookbtn" data-target="#navbar-collapse-3" data-toggle="collapse" class="btn btn-primary btn-sm hidden-sm hidden-md hidden-lg btn-toggle" type="button" ng-click="CheckTixToggle()">Check
Purchase
</button>
 
<button id="menubtn" data-target="#navbar-collapse-1" data-toggle="collapse" class="navbar-toggle" type="button" ng-click="MenuListToggle()">
<span class="sr-only">Toggle navigation</span>
<div style="float: left;">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</div>
<div style="float: left;line-height: 1;margin-left: 5px;">Menu</div>
</button>
</div>
 
<div class="collapse navbar-collapse" id="navbar-collapse-2">
<div class="buy-tickets-collapse hidden-sm hidden-md hidden-lg">
<form class="form-horizontal" role="form">
<div class="dropdown">
<span>Select a Cinema</span>
<select class="form-control btn btn-default btn-sm dropdown-toggle ng-pristine ng-valid" aria-haspopup="true" aria-expanded="false" ng-model="selCinema" ng-options="cinema.name for cinema in qbuyLocationMap" ng-change="selectCinemaMainMenu(selCinema)">
<option value=""></option>
</select>
<div class="clearfix"></div>
</div>
<div class="dropdown">
<span>Select a Movie</span>
<select class="form-control btn btn-default btn-sm dropdown-toggle ng-pristine ng-valid" aria-haspopup="true" aria-expanded="false" ng-model="selMovie" ng-options="dwMov.filmTitle for dwMov in qbuyFilmMap" ng-change="selectMovieMainMenu(selMovie)">
<option value=""></option>
</select>
<div class="clearfix"></div>
</div>
<div class="dropdown">
<span>Select Date</span>
<select class="form-control btn btn-default btn-sm dropdown-toggle ng-pristine ng-valid" aria-haspopup="true" aria-expanded="false" ng-model="selDate" ng-options="date.convertedDate for date in qBuyDates" ng-change="selectDateMainMenu(selDate)" ng-disabled="qBuyDates.length == 0">
<option value=""></option>
</select>
<div class="clearfix"></div>
</div>
<div class="dropdown">
<span>Select Time</span>
<select class="form-control btn btn-default btn-sm dropdown-toggle ng-pristine ng-valid" aria-haspopup="true" aria-expanded="false" ng-model="selTime" ng-options="time.time12 for time in qBuyTimes" ng-change="selectTimeMainMenu(selTime)" ng-disabled="qBuyTimes.length == 0">
<option value=""></option>
</select>
<div class="clearfix"></div>
</div>
<p class="button-section text-center"><a href="javascript:void(0);" class="btn btn-default" role="button" ng-click="resetQckSeachMov()">Reset</a><a href="javascript:void(0);" class="btn btn-primary" role="button" ng-click="qckSeachMov()">Go</a></p>
</form>
</div>
</div>
 
 
<div class="collapse navbar-collapse" id="navbar-collapse-3">
<div class="check-booking-collapse hidden-sm hidden-md hidden-lg">
<form class="form-horizontal" role="form">
<div class="dropdown">
<label><input type="radio" name="bookVal" ng-model="checkBook.bookVal" value="mobile">Mobile No.</label>
<input type="text" name="mobileVal" class="form-control" ng-model="checkBook.mobileVal" ng-focus="checkBook.bookVal = 'mobile'" ng-disabled="checkBook.bookVal == 'userId'">
</div>
<div class="dropdown">
<label><input type="radio" name="bookVal" ng-model="checkBook.bookVal" value="userId">NRIC/FIN No.</label>
<input type="text" class="form-control" name="userIdVal" ng-model="checkBook.userIdVal" ng-focus="checkBook.bookVal = 'userId'" ng-disabled="checkBook.bookVal == 'mobile'">
</div>
<p class="button-section text-center">
<a href="javascript:void(0);" class="btn btn-primary" role="button" ng-click="qckChkBook()">Check Booking</a>
<a href="javascript:void(0);" class="btn btn-primary" role="button" ng-click="qckChkOrder(true)">Check Order</a>
</p>
</form>
</div>
</div>
 
 
<div class="collapse navbar-collapse" id="navbar-collapse-4">
<div class="check-booking-collapse hidden-sm hidden-md hidden-lg">
<form class="form-horizontal" role="form">
<div class="dropdown">
<label><input type="radio" name="bookVal" ng-model="checkOrder.bookVal" value="mobile">Mobile No.</label>
<input type="text" name="mobileVal" class="form-control" ng-model="checkOrder.mobileVal" ng-focus="checkOrder.bookVal = 'mobile'" ng-disabled="checkOrder.bookVal == 'userId'">
</div>
<div class="dropdown">
<label><input type="radio" name="bookVal" ng-model="checkOrder.bookVal" value="userId">NRIC/FIN/Passport No.</label>
<input type="text" class="form-control" name="userIdVal" ng-model="checkOrder.userIdVal" ng-focus="checkOrder.bookVal = 'userId'" ng-disabled="checkOrder.bookVal == 'mobile'">
</div>
<p class="button-section text-center"><a href="javascript:void(0);" class="btn btn-primary" role="button" ng-click="qckChkOrder()">Submit</a></p>
</form>
</div>
</div>
 
 
<div id="navbar-collapse-1" class="collapse navbar-collapse">
<ul class="nav navbar-nav row">
<li id="menuGoldClass"><a href="GoldClassHome"><span class="nav-img gs hidden-xs"></span><span class="nav-text hidden-lg hidden-md hidden-sm">Gold Class</span></a></li>
<li id="menuMovies"><a href="GVMovies"><span class="nav-img movies hidden-xs"></span><span class="nav-text">Movies</span></a></li>
<li id="menuCinemas"><a href="GVCinemas"><span class="nav-img cinemas hidden-xs"></span><span class="nav-text">Cinemas</span></a></li>
<li id="menuBuyTickets"><a href="GVBuyTickets"><span class="nav-img tickets hidden-xs"></span><span class="nav-text">Buy Tickets</span></a></li>
<li id="menuMerchandise"><a href="GVMerchandise"><span class="nav-img merchandise hidden-xs"></span><div ng-bind-html="cartInfoCtr" ng-show="cartInfoCtr > 0" class="gcart-wrapper-2"></div><span class="nav-text">Shop Merchandise</span></a></li>
<li id="menuPromotions"><a href="GVPromotions"><span class="nav-img promotions hidden-xs"></span><span class="nav-text">Promotions</span></a></li>
<li class="wide-tab" id="menuVouchers"><a href="GVVouchersAndGiftCards"><span class="nav-img vouchers hidden-xs"></span><span class="nav-text">Movie Vouchers &amp; Cards</span></a></li>
<li class="wide-tab" id="menuCorporateEvents"><a href="GVCorporateEvents" class="last"><span class="nav-img events hidden-xs"></span><span class="nav-text">Corporate Events</span></a></li>
</ul>
</div>
 
</div>
 
</div>
<a class="gcart-wrapper move ng-hide" ng-click="toggleShoppingCart()" ng-show="isMerchPage == true"><span class="gcart" ng-bind-html="cartInfoCtr">&nbsp;</span></a>
<div class="modal-dialog sc-dialog ng-hide" role="document" ng-show="showShoppingCart == true">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" ng-click="toggleShoppingCart()"></button>
<h4 class="modal-title" id="exampleModalLabel" ng-bind-html="shoppingCartTitle">Your Shopping Cart</h4>
</div>
<div class="modal-body" ng-show="shoppingCartMode == 0">
<form>
<div ng-show="cartErrMessage != null && cartErrMessage.length > 0" class="help-inline alert alert-danger">{{cartErrMessage}}</div>
<div class="account-login text-right">
<button type="button" class="btn btn-sm btn-secondary" ng-click="toggleShoppingCartMode()">Go to Wishlist</button>
</div>
<table border="0" width="100%" class="m-location">
<tr>
<td width="25%"><label for="location">Collection Location:</label></td>
<td>
<select class="form-control btn btn-default btn-sm dropdown-toggle" id="cart-location-dropdown" ng-change="changeCartLocation()" ng-model="cartInfo.location">
<option value="">--Choose a Collection Location--</option>
<option ng-repeat="location in cartInfo.locations" value="{{location.id}}" ng-bind-html="location.name" ng-selected="cartInfo.location == location.id"></option>
</select>
</td>
</tr>
</table>
<div class="m-list">
<table border="0" class="d-table hidden-xs" width="100%">
<tr>
<th width="54%">Description</th>
<th class="text-center" width="12%">Price</th>
<th class="text-center" width="21%">Qty</th>
<th class="text-center" width="12%">Amount</th>
</tr>
<tr class="list-item" ng-repeat="item in cartInfo.items">
<td colspan="4">
<table border="0" width="100%" class="i-table">
<tr>
<td class="text-center" width="5%"><a class="cancel-item" ng-click="removeFromCart(item.id)"></a></td>
<td width="12%">
<img ng-src="{{item.imgLink}}" style="max-height:50px;max-width:50px;"/>
</td>
<td width="37%"><span ng-bind-html="item.itemName"></span></td>
<td class="text-center" width="12%"><span ng-bind-html="item.unitPriceStr"></span></td>
<td class="text-center" width="22%">
<select class="form-control btn btn-default btn-sm dropdown-toggle" id="QTY_{{item.id}}" ng-change="changeCartItemQuantity(item.id)" ng-model="item.quantity">
<option ng-repeat="qty in item.quantities" value="{{qty}}" ng-bind-html="qty" ng-selected="qty == item.quantity"></option>
</select>
</td>
<td class="text-center" width="12%"><span ng-bind-html="item.totalPriceStr"></span></td>
</tr>
<tr class="c-location">
<td colspan="6">
<table border="0" width="100%" class="i-table" ng-show="item.otherLocation == true">
<tr>
<td width="48%">
<span ng-show="item.available == true">Collection Location:</span>
<span class="error-info" ng-show="item.available == false">Item is not available in this location</span>
</td>
<td>
<select class="form-control btn btn-default btn-sm dropdown-toggle" id="{{item.id}}" ng-change="changeCartItemLocation(item.id)" ng-model="item.location">
<option value="">--Choose a Collection Location--</option>
<option ng-repeat="location in item.locations" value="{{location.id}}" ng-bind-html="location.name" ng-selected="item.location == location.id"></option>
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<table border="0" class="m-table hidden-lg hidden-md hidden-sm" width="100%">
<tr class="list-item" ng-repeat="item in cartInfo.items">
<td>
<table border="0" width="100%" class="i-table">
<tr>
<td colspan="2" class="m-pt-title">
<table border="0" width=" 100%" class="i-table">
<tr>
<th><img ng-src="{{item.imgLink}}" style="max-height:50px;max-width:50px;"/></th>
<th><span ng-bind-html="item.itemName"></span></th>
<th width="10%"><a class="cancel-item" ng-click="removeFromCart(item.id)"></a></th>
</tr>
</table>
</td>
</tr>
<tr>
<td width="30%">Price:</td>
<td><span ng-bind-html="item.unitPriceStr"></span></td>
</tr>
<tr>
<td width="30%">Qty:</td>
<td>
<select class="form-control btn btn-default btn-sm dropdown-toggle" id="QTY_{{item.id}}" ng-change="changeCartItemQuantity(item.id)" ng-model="item.quantity">
<option ng-repeat="qty in item.quantities" value="{{qty}}" ng-bind-html="qty" ng-selected="qty == item.quantity"></option>
</select>
</td>
</tr>
<tr>
<td width="30%">Amount:</td>
<td><span ng-bind-html="item.totalPriceStr"></span></td>
</tr>
<tr class="c-location">
<td colspan="2">
<table border="0" width="100%" class="i-table" ng-show="item.otherLocation == true">
<tr>
<td width="48%">
<span ng-show="item.available == true">Collection Location:</span>
<span class="error-info" ng-show="item.available == false">Item is not available in this location</span>
</td>
<td>
<select class="form-control btn btn-default btn-sm dropdown-toggle" id="{{item.id}}" ng-change="changeCartItemLocation(item.id)" ng-model="item.location">
<option value="">--Choose a Collection Location--</option>
<option ng-repeat="location in item.locations" value="{{location.id}}" ng-bind-html="location.name" ng-selected="item.location == location.id"></option>
</select>
</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>
<div class="m-amount text-right">Total: <span class="value" ng-bind-html="cartInfo.totalPriceStr"></span></div>
</div>
</form>
</div>
<div class="modal-body" ng-show="shoppingCartMode == 1">
<form>
<div ng-show="wishErrMessage != null && wishErrMessage.length > 0" class="help-inline alert alert-danger">{{wishErrMessage}}</div>
<div class="account-login text-right">
<button type="button" class="btn btn-sm btn-secondary" ng-click="toggleShoppingCartMode()">Go to Shopping Cart</button>
</div>
<div class="m-list">
<table border="0" class="d-table" width="100%">
<tr class="hidden-xs">
<th width="66%">Description</th>
<th class="text-center" width="22%">&nbsp;</th>
<th class="text-center" width="12%">&nbsp;</th>
</tr>
<tr class="hidden-sm hidden-md hidden-lg">
<th width="100%">Description</th>
</tr>
<tr class="list-item hidden-xs" ng-repeat="item in wishInfo">
<td colspan="4">
<table border="0" width="100%" class="i-table">
<tr>
<td width="12%"><img ng-src="{{item.imgLink}}" style="max-height:50px;max-width:50px;"/></td>
<td width="54%"><span ng-bind-html="item.itemName"></span></td>
<td class="text-center" width="22%"><button type="button" class="btn btn-third" ng-click="removeFromWish(item.productCode, item.itemCode)">Remove</button></td>
<td class="text-center" width="12%"><button type="button" class="btn btn-primary" ng-click="viewItem(item.productCode)">View</button></td>
</tr>
</table>
</td>
</tr>
<tr class="list-item hidden-sm hidden-md hidden-lg" ng-repeat="item in wishInfo">
<td>
<table border="0" width="100%" class="i-table">
<tr>
<td width="17%"><img ng-src="{{item.imgLink}}" style="max-height:50px;max-width:50px;"/></td>
<td width="83%"><span ng-bind-html="item.itemName"></span></td>
</tr>
</table>
<table border="0" width="100%" class="i-table">
<tr>
<td class="text-left" width="100%">
<button type="button" class="btn btn-third" ng-click="removeFromWish(item.productCode, item.itemCode)">Remove</button>
<button type="button" class="btn btn-primary" ng-click="viewItem(item.productCode)">View</button>
</td>
</tr>
</table>
</td>
</tr>
</table>
</div>
</form>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-third" ng-click="toggleShoppingCart()">Continue Shopping</button>
<button type="button" class="btn btn-primary" ng-click="checkoutShoppingCart()" ng-show="shoppingCartMode == 0">Checkout</button>
</div>
</div>
</div>
</div>
<script type="text/ng-template" id="GVMC-LinkFB.html">
    <div id="warningMessage">
        <div class="modal-header">
            <h3 class="modal-title">Link Facebook Account</h3>
        </div>
        <div class="container-fluid">
            <div class="main-content">
                <div class="consumer-advisory">
                    <div>
                        Do you want to link your Facebook account with your GV Movie Club account?
                    </div>
                    <div class="text-center button-section">
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ok()">Yes</button> <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">No</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<div ng-controller="GVCinemasCntl">
 
<div class="style-switcher-slidebar hidden-xs">
<button id="cmdShowStyleSwitcher" class="open-panel" ng-click="showSideBar()"><a class="switch-btn"></a></button>
<div id="sideBarPanel" class="switch-panel">
<div id="buyTixDrop" class="dropdown" style="margin-top:0">
<div id="cinemaDrop" class="dropdown-menu">
<ul class="dropdown-menu-left">
<li ng-repeat="cinema in qbuyLocationMap" class="dropdown-submenu">
<a href="javascript:void(0);" ng-click="selectCinemaMainMenu(cinema)">{{cinema.name}}</a>
</li>
</ul>
</div>
<div id="movieDrop" class="dropdown-menu">
<ul class="dropdown-menu-left">
<li ng-repeat="dwMov in qbuyFilmMap" class="dropdown-submenu">
<a href="javascript:void(0);" ng-click="selectMovieMainMenu(dwMov)">{{dwMov.filmTitle}}</a>
</li>
</ul>
</div>
<div id="dateDrop" class="dropdown-menu dt-dropdown-menu">
<ul class="dropdown-menu-left">
<li ng-repeat="date in qBuyDates" class="dropdown-submenu" ng-class="{active:date==selDate}">
<a href="javascript:void(0);" ng-mouseover="selectDateMainMenu(date)" ng-click="closeDropDown()">{{date.convertedDate}}</a>
</li>
</ul>
</div>
<div id="timeDrop" class="dropdown-menu dt-dropdown-menu tm-dropdown-menu">
<ul class="dropdown-menu-left">
<li ng-repeat="time in qBuyTimes" class="dropdown-submenu">
<a href="javascript:void(0);" ng-click="selectTimeSubMenu(time)">{{time.time12}}</a>
</li>
</ul>
</div>
<a class="switch-close" ng-click="hideSideBar()"><img src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/x-mark.png"/></a>
<div class="switch-title">Quick Buy</div>
<div class="buy-tickets">
<form class="form-horizontal" role="form">
<div id="buyTixCinDrop" style="margin-top:16px">
<label>Select a Cinema</label>
<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-click="openDropDown('cinemaDrop')">
<span ng-if="selCinema != null">
{{selCinema.name}}
</span>
<span ng-if="selCinema == null">
-- Cinemas --
</span>
</button>
</div>
<div id="buyTixMovDrop" style="margin-top:16px">
<label>Select a Movie</label>
<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-click="openDropDown('movieDrop')">
<span ng-if="selMovie != null">
{{selMovie.filmTitle}}
</span>
<span ng-if="selMovie == null">
-- Movies --
</span>
</button>
</div>
<div id="buyTixDateDrop" style="margin-top:16px">
<label>Select Date &amp; Time</label>
<button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown" ng-disabled="qBuyDates.length == 0" ng-click="openDropDown('dateDrop')">
<span ng-if="selDate != null">
{{selDate.convertedDate}} - {{selTime.time12}}
</span>
<span ng-if="selDate == null">
-- Date &amp; Time --
</span>
</button>
</div>
<p class="button-section text-center"><a href="javascript:void(0);" class="btn btn-third" role="button" ng-click="resetQckSeachMov()">Reset</a><a href="javascript:void(0);" class="btn btn-primary" role="button" ng-click="qckSeachMov()">Go</a></p>
</form>
</div>
</div>
</div>
</div>
 
<div id="cinemas" class="wrapper">
 
<a class="btn-scroll" href="#">
<img src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/arrow-up.png"/>
</a>
<div class="container-fluid">
 
<ol class="breadcrumb">
<li><a href="GVHome"><small>Home</small></a></li>
<li><small>Cinemas</small></li>
</ol>
<div class="main-content">
<div class="page-header movie-heading">
<h2>Cinemas</h2>
</div>
<div class="description-section">
<div class="row">
<div class="col-md-8 col-sm-7 col-xs-12">
<div class="description">
<p>Golden Village is Singapore's leading cinema exhibitor with 11 multiplexes housing 92 screens with locations at Yishun (1992), Bishan Junction 8 (1993), Tiong Bahru Plaza (1994), Jurong Point (1995), Tampines Mall (1996), Plaza Singapura (1998), Great World City (1999), VivoCity home to GV’s flagship and Singapore’s only megaplex, (2006), 112 Katong (2011, the world’s first Peranakan inspired cinema), City Square (2012) and it’s latest downtown flagship Suntec City (2014) with a total capacity of 1,390 seats, consisting of 8 auditoriums and 3 Gold Class cinemas.</p><br>
<p>Golden Village was established to develop and operate modern, luxurious multiplex cinemas and is the first local cinema to personalize the movie-going experience through its Movie Club program. The prime mover in the introduction of the multiplex to Asia, Golden Village’s first imprint in Singapore was made on 28 May 1992 with the successful opening of the Yishun 10 cinema. Today, Golden Village has a reputation of offering the widest choice of movies, unparalleled comfort, state-of-the-art cinema design, prime locations and technological capabilities such as Quick tix™, iGV app and the auto-gate system to enhance the movie-going experience for customers.</p>
</div>
</div>
<div class="slideshowcontainer col-md-4 col-sm-5 col-xs-12" ng-show="ads.length>0">
<div class="slideshow pn-slide">
<carousel interval="adSlideInternal" id="carousel-example-generic" class="carousel slide">
<slide ng-repeat="ad in ads" active="slide.active">
<a href="{{ad.imageHref}}" target="_blank"><img ng-src="{{ad.image}}"></a>
</slide>
</carousel>
</div>
</div>
</div>
</div>
<h4>To view cinema information and showtimes, please click on the cinema below.</h4>
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
<ul class="cinemas-list list-unstyled">
<li ng-repeat="cinema in cinemas"><a href="GVCinemaDetails#/cinema/{{cinema.id}}" ng-bind-html="cinema.name"></a></li>
</ul>
<div class="clearfix"></div>
</div>
<div class="col-lg-9 col-md-9 col-sm-8 col-xs-12 col-pg-zero">
<ul class="brand-cinemas-list list-unstyled">
<div class="row">
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-gg">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-gg.jpg" alt="Gold Glass"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-gg-img.jpg"/></dt>
<dd><small>The ultimate in luxury movie viewing with a private lounge and plush electronic recliners.</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/60"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-gx">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-gx.png" alt="GVMax"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-gx-img.jpg"/></dt>
<dd><small>For the ultimate big screen experience, it doesn't come any better than GVmax®! One of the widest screens in Asia (22.4 metres).</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/051"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-gxAtmos">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-gxdolbyatmos.png" alt="GVMaxAtmos"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinema_dolbyatmossmall.jpg"/></dt>
<dd><small>Dolby Atmos® transports you into the story with moving
audio that fills the cinema and flows all around you to deliver the premiere sound of
entertainment.</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/051*"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading" style="background-color:#f95641">
<img width="100%" height="auto" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-auro.png" alt="Auro"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-auro-img.jpg"/></dt>
<dd><small>Auro 11.1 is the most realistic and natural cinematic audio experience. Experience the magic in sound at GV Suntec City today.</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/122"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-dx">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-dx.jpg" alt="D-BOX"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-dx-img.jpg"/></dt>
<dd><small>Your movie in motion.<br>Available at GV Bishan</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/02*"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-gi">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-gi.jpg" alt="GEMINI"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-gi-img.jpg"/></dt>
<dd><small>Couple seats with moveable arm rest.<br>Cozy, spacious, comfortable seats with privacy and wide leg-room.</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/114"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="col-lg-4 col-md-4 col-sm-6 col-xs-6">
<li>
<div class="heading brand-heading-anz">
<img ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/brand-grandseats.jpg" alt="ANZ GRAND SEATS"/>
</div>
<dl>
<dt><img width="auto" height="117px" ng-src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/cinemas-grandseats-img.jpg"/></dt>
<dd><small>Grand Seats are luxurious recliners seats available at GV Grand, Great World City.</small></dd>
</dl>
<a href="GVCinemaDetailsBranding#/cinema/076"><small>More Info>></small></a>
<div class="clearfix"></div>
</li>
</div>
<div class="clearfix"></div>
</div>
</ul>
</div>
</div>
</div>
</div>
</div>
</div>
<div class="footer-section container-fluid">
<div class="footer-section-content">
<div class="content-list">
<div class="row">
<div class="col-xs-12 col-md-4 col-sm-6">
<div class="st-section">
<h5>Information</h5>
<div class="in-content">
<ul class="hyperlink list-unstyled">
<li><a href="GVHome">Home</a></li>
<li><a href="AboutUs">About GV</a></li>
<li><a href="PressRoom">Press Room</a></li>
<li><a href="Distribution">Distribution</a></li>
<li><a href="JobsGV">Jobs at GV</a></li>
</ul>
<ul class="hyperlink list-unstyled">
<li><a href="SocialMedia">Social Media</a></li>
<li><a href="FAQ">F.A.Q</a></li>
<li><a href="TermsOfService">Terms of Service</a></li>
<li><a href="PrivacyPolicy">Privacy Policy</a></li>
<li><a href="ContactUs">Contact Us</a></li>
</ul>
<div class="clearfix"></div>
</div>
</div>
</div>
<div class="col-xs-12 col-md-3 col-sm-6">
<div class="st-section igv-app">
<h5>Get GV Mobile App</h5>
<div class="apps-list">
<ul class="hyperlink list-unstyled">
<li><a href="https://itunes.apple.com/sg/app/igv/id293615901?mt=8" target="_blank" class="app-store-iphone"></a></li>
<li><a href="https://play.google.com/store/apps/details?id=com.gv.igv" target="_blank" class="google-play"></a></li>
</ul>
<div class="igv-app-icon">
<img height="71" width="71" src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/igv-app.png"/>
</div>
<div class="clearfix"></div>
</div>
</div>
</div>
<div class="col-xs-12 col-md-2 col-sm-6">
<div class="st-section follow">
<h5>Follow Us</h5>
<div class="row">
<div class="col-md-12 col-xs-12 col-sm-12 col-pg-zero">
<ul class="list-unstyled">
<li class="pull-left"><a href="SocialMedia#Facebook" target="_blank" class="sl-fk show"></a></li>
<li class="pull-left"><a href="SocialMedia#Twitter" target="_blank" class="sl-tt show"></a></li>
<li class="pull-left"><a href="SocialMedia#Instagram" target="_blank" class="sl-im show" style="background-image:url(https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-sa-inm.png)"></a></li>
<li class="pull-left"><a href="SocialMedia#LINE" target="_blank" class="show" style="background-image:url(https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/icon-sa-line.png)"></a></li>
</ul>
</div>
</div>
</div>
</div>
<div class="col-xs-12 col-md-3 col-sm-6">
<div class="st-section last">
<h5>Secure Payment</h5>
<ul class="list-unstyled">
<li class="pull-left"><img src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/preferred-card.png"/></li>
<li class="pull-left"><a style="display:block" href="https://www.visa.com.sg/personal/security/verifiedbyvisa.shtml" target="_blank"><img src="https://media.gv.com.sg/cms/resources/templating-kit/themes/gv/images/verified-visa.png"/></a></li>
<li class="pull-left"><img src="https://www.gv.com.sg/media/cms/resources/templating-kit/themes/gv/images/visacheckoutmark.png"/></li>
</ul>
<div class="clearfix"></div>
</div>
</div>
</div>
</div>
<p class="text-center site-declaration">
 
<small>&copy;2017 Golden Village Multiplex Pte Ltd. All rights reserved.No part of this website may be reproduced in any form without our
written permission. We may take all necessary legal actions against users who infringe or repeatedly
infringe our copyrights or other intellectual property rights.
</small>
</p>
</div>
</div>
</body>
</html>